:root {
  --font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  --blue: #2149fe;
  --light-blue: #81cffa;
  --white: #fff;
  --grey: #cdcdcd;
  --light-grey: #f4f4f4;
  --medium-grey: #a6a6a6;
  --black: #0000;
  --green: #8cc27b;
  --orange: #d95214;
}

body {
  margin: 2.5em;
  font-family: var(--font-family);
}
h2 {
  color: var(--blue);
  font-size: 4rem;
  font-weight: 700;
}

.flex {
  display:flex;
}

.margin-t1{
  margin-top:1.2rem;
}

.full-width{
  width: 100%;
}

.green {
  color: var(--green);
}
.white-background{
  background-color:var(--white);
}

.m-lr-40{
  margin-left:40px;
  margin-right: 40px;
}

.bold{
  font-weight: 800;
}




/* ---- NAVBAR START ----*/ 
.navbar {
  font-size: 20px;
  font-weight: 500;
  line-height: 34px;
  padding-bottom:2rem;
}
.navbar-logo {
  width: 12rem;
  margin-top: -0.7rem;
}

.navbar-collapse > ul > li > a {
  color: black;
  margin-left: 2.5rem;
}

.nav-link:hover{
  color:blue;
}



/* MAIN PIC  START  */  
.main-pic-container{
  background-image: url(images/main-image.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 4rem 0;
  margin-bottom: 23rem;
}

.main-pic-sub-title {
  font-weight: 800;
  font-size: 1.5rem; 
}

.main-pic-title{
  color: var(--white);
  line-height: 5rem;
  font-weight: 900;
  font-size: 4rem;
}

.main-pic-paragraph{
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 35px;
}

.main-pic-start-button{
  background-color: var(--blue);
  color: var(--white);
  border-radius: 0.4rem;
  border: none;
  font-weight: 500;
  height: 3.5rem;
  width: 8.75rem;
}

.main-pic-button{
  border:none;
  background-color: transparent;
}

.menu-background {
  background-color: var(--light-grey);
  border-radius: 10px;
  width: 100%;
  height: 100%;
}




.blue-line{
  margin-top:2.2rem;
  border-top:5px blue solid;
  width: 20%;
}

.green-rectangle {
  border-radius: 4px;
  height: 46px;
  margin-top:32px;
  margin-right:16px;
  border:9px var(--green) solid;
}

.application-title{
  margin-top: -6.6rem;
}
.left-blue-border{
  border-left: 6px var(--blue) solid;
  height: 70px;
  margin-top: 14px;
}


/* DONT USE BS CLASSES IN DESCENDING WAY  */
.features-container {
  border: #fff;
  margin-bottom: 6rem;
  line-height: 32px;
  border-radius: 0.4rem;
  background-color: var(--white);
  padding-bottom: 60px;
  width: 80%;
}
.features-title {
  display: flex;
  padding-bottom: 2rem;
  justify-content: flex-start;
  margin-top:-20rem;
}
.features-title > img {
  height: 3rem;
}


.features-container > .features-container-second-row{
 margin-top:-14rem;
}

.features-row {
  width: 80%;
  margin:2rem;
}
.features-row > img {
  width: 35%;
}

.features-row > h5 {
  margin-top: 3rem;
  font-weight: 800;
}
.features-row > p {
  margin-top: 1.2rem;
}

.features-second-container {
  border: #fff;
  margin-bottom: 6rem;
  width: 80%;
  line-height: 32px;
  border-radius: 0.4rem;
  background-color: var(--white);
}

.features-second-row {
  margin:2rem;
  width: 80%;
}
.features-second-row > img {
  margin-top: 1rem;
  width: 35%;
}
.features-second-row > h5 {
  margin-top: 3rem;
  font-weight: 800;
}
.features-second-row > p {
  margin-top: 1.2rem;
}

.order-status-title {
  padding-bottom: 20px;
  padding-top: 10px;
}




/* ---- WORKFLOW START ----*/

.workflow-sub-title{
  font-weight: 800;
}

.workflow-green-rectangle{
  border-radius:4px;
  margin-right:16px;
  border:8px var(--green) solid;
  height: 48px;
  margin-top: 1rem;
}


/* ---- APPLICATION START ----*/

.application-title-container{
  display:flex;
  margin-left:8rem;
}

.application-customers{
  margin-left: 24px;
}

.application-customers > h5{
  margin-bottom: 1rem;
  font-weight: 800;
}


.application-green-rectangle{
  border-radius:4px;
  margin-right:16px;
  border:8px var(--green) solid;
  height: 48px;
  margin-top: -5rem;
}

/* application_start/


*/

.application-image{
  width: 120%;
  margin-left: -100px;
  margin-top:12px;
}


.application-small-image{
  max-height: 4rem;
  margin: 0.5rem;
}

.application-small-image-container{
  height: 80px;
  border-radius: 12px;
}

.application-small-image-title{
  font-weight: 900;
  margin: 1.5rem;
}



.application-small-title{
  color: var(--orange);
  font-weight: 800;
}


.application-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.application-content > h5{
  margin-left:1rem;
}
.application-content > p {
  margin-top:-2.65rem;
  margin-left:1.3rem;
}



.application-title > img {
  height: 3rem;
  margin-bottom: -14rem;
  margin-left: 11.5rem;
}

.application-background {
  width: 72%;
  height: 55rem;
  background-color: var(--light-grey);
  position: absolute;
  right:0;
  border-radius:8px;

}


.application-desktop {
  display: flex;
  height: 6rem;
}

.application-desktop > img {
  margin: 0.5rem;
  height: 75%;
}
.application-desktop > h4 {
  padding-left: 4rem;
  padding-top: 2rem;
  font-weight: 800;
}

.application-mobile {
  background-color: var(--white);
  border-radius: 8px;
  display: flex;
  height: 6rem;
}
.application-mobile > img {
  margin: 0.5rem;
  height: 75%;
}
.application-mobile > h4 {
  padding-left: 4rem;
  padding-top: 2rem;
  font-weight: 800;
}



/* ---- ORDER CARD START ----*/

.order-card {
  margin-top: 13rem;
  margin-left:auto;
  margin-bottom:10rem;
  margin-right:auto;
  padding: 2rem;
  max-width: 80%;
  border-radius: 0.6rem;
  background-color: var(--light-blue);
}
.order-card-container{
  height: 285px;
}
.quicki{
  max-width: 56%;
}
.quicki > img {
  margin-bottom: 1.4rem;
}
.quicki > p{
  margin-bottom: 1.6rem;
}

.quicki-left-image{
  position: absolute;
  width: 65%;
  right: -155px;
  bottom: -86px;
}

.quicki-left-image > img{
  width: 83%;
}
.order-card-container > .row {
  position:relative;
}

.quicki >  p {
  font-weight: 500;
  font-size: 20px;
}

.quicki> button {
  background-color: var(--blue);
  border-color: var(--blue);
  color: var(--white);
  width: 30%;
  height: 17%;
  border-radius: 6px;
}


.building-quicki-title{
  margin-bottom:2rem;
  font-size: 72px;
}


.middle-grey-bg{
  background-color: var(--light-grey);
  border-radius: 8px;
  height: 25rem;
}

/* ---- VOLUNTEER CARD  START ----*/

.volunteer-card-container{
  background-color: white;
  margin-bottom: -145px;
  position:relative;
}
.volunteer-card-container > .row > .col-sm > img {
  width: 100%;
}
.volunteer-card-container >  h4 {
  font-weight: 700;
}
.volunteer-card-container > .row > .col-sm > h5 {
  margin-top: 1rem;
  color: var(--blue);
  width: 70%;
}
.volunteer-card-container > .row > .col-sm > p {
  margin-top: 2rem;
  color: var(--medium-grey);
  width: 85%;
}




/* ---- SUBSCRIBE CARD  START ----*/

.subscribe-container {
  margin-top: -100px;
  background-color: var(--blue);
  border-radius: 0.4rem;
}


.subs-paragraph{
  margin: 2rem;
  color: var(--white);
  font-size: 24px;
  line-height: 39px;
  font-weight: 600;
}

.mailbox > input{
  margin-top: 4rem;
  width: 75%;
  height: 3rem;
  border-color: var(--blue);
  border:none;
  font-weight: 700;
}
.mailbox >input:focus{
  border: 4px solid rgb(72, 84, 241) ;
}

.mailbox > button{
  width: 4rem;
  height: 2.4rem;
  border: none;
  border-radius: 0.4rem;
  border-color: var(--green);
  background-color: var(--green);
  margin-left: -4.6rem;
}

.mailbox > img {
  height: 1.2rem;
  background-color: var(--green);
}


/* ---- CONTACT US START ----*/

.contact-form{
  padding-top:5rem;
}


.contact-detail > a> p {
 margin-top:1rem;
 color:black;
 font-weight: 600;
}

.contact-detail-img {
  width: 3rem;
  height: 4rem;
}




.contact-header{
  display:flex;
  margin-top:1rem;
  margin-bottom:3rem;

}
.contact-header > img {
  margin-top: 5rem;
  height:3rem;
}

.contact-header > p {
  margin-top:1.8rem;
}
.contact-header > h2 {
  margin-top:2.4rem;
  margin-left:2rem;
}



.contact-button > button {
  float: right;
  border: none;
  border-radius: 0.4rem;
  color: var(--white);
  width: 9rem;
  height: 3rem;
  background-color: var(--blue);
  font-weight: 400;
  margin-top:2rem;
}
.contact-button > button > img {
  width: 1.2rem;
  margin-left: 0.6rem;
}

/* ---- LOGIN BUTTON START ----*/

.login-button {
  background-color: var(--blue);
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  padding-left: 0.4rem;
  width: 8rem;
  margin-top: 0.2rem;
  margin-left: 1.5rem;
  padding-top: 0.2rem;
  border-radius: 5px;
  border-color: var(--blue);
}

.login-button > img {
  margin-right: 0.8rem;
}

/* ---- SEPERATORS START ----*/
.small-seperator {
  color: var(--grey);
  margin-top: 0.3rem;
  font-size: xx-large;
  font-weight: 300;
}

.medium-seperator {
  padding-top: -50px;
  font-weight: 500;
  font-size: 50px;
  color: var(--green);
  border-radius: 4px;
}


/* ---- TEXTBOX START ----*/

/* ---- FOOTER START ----*/

.footer-seperator > img {
  width: 100%;
}

.social-link {
  position: relative;
  display: inline-block;
}

.hover-blue {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
.social-link:hover .hover-blue{
  display:inline;
}

.footer-container {
  padding-top: 1.2rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.footer-container > .row > .col-sm > img {
  padding-left: 6rem;
}

.footer-container > .row > .social-links > a > img {
  padding-left: 2rem;
}

.footer-container > .row > .col-sm > p {
  padding-top: 1rem;
  padding-left: 6rem;
  font-weight: 700;
}

.border-left-green{
  border-left: 6px #53b453 solid;
}