:root {
  --font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  --blue: #2149fe;
  --light-blue: #81cffa;
  --white: #fff;
  --grey: #cdcdcd;
  --light-grey: #f4f4f4;
  --medium-grey: #a6a6a6;
  --black: #0000;
  --green: #8cc27b;
  --orange: #d95214;
}

body {
  margin: 2.5em;
}
h2 {
  color: var(--blue);
  font-size: 4rem;
  font-weight: 700;
}

/* MAIN PIC  START  */

.home-page-container > img {
  position: relative;
  width: 100%;
}
.home-page-container > h1 {
  position: absolute;
  max-width: 80%;
  bottom: 20.75rem;
  left: 7.75rem;
  font-weight: 800;
  color: var(--white);
  line-height: 5rem;
  font-size: 3.75rem;
}

.home-page-container > .mini-title {
  position: absolute;
  bottom: 30.625rem;
  left: 8.125rem;
  font-weight: 700;
  font-size: 1.25rem;
}
.home-page-container > .info {
  position: absolute;
  max-width: 40%;
  font-weight: 500;
  font-size: 1.25rem;
  bottom: 160px;
  left: 8.125rem;
  line-height: 35px;
}

.home-page-container > .start-button {
  position: absolute;
  bottom: 4.25rem;
  left: 8.125rem;
  height: 7%;
  width: 10%;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 0.2rem;
  border: none;
  font-weight: 500;
}

.home-page-container > .apple-store {
  position: absolute;
  height: 6%;
  width: 9%;
  border: none;
  left: 7.8rem;
  top: 46.25rem;
  background-color: transparent;
}
.home-page-container > .play-store {
  position: absolute;
  height: 6%;
  width: 9%;
  border: none;
  left: 21rem;
  top: 46.25rem;
  background-color: transparent;
}
.home-page-container > .app-gallery {
  position: absolute;
  height: 6%;
  width: 9%;
  border: none;
  left: 34.5rem;
  top: 46.25rem;
  background-color: transparent;
}

.menu-background {
  background-color: var(--light-grey);
  opacity: 0.8;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}



/* DONT USE BS CLASSES IN DESCENDING WAY  */
.features-container {
  border: #fff;
  margin-bottom: 6rem;
  line-height: 32px;
  border-radius: 14px;
  background-color: var(--white);
}
.features-title {
  display: flex;
  padding-bottom: 2rem;
  justify-content: flex-start;
}
.features-title > img {
  height: 3rem;
}

.features-row {
  width: 100%;
}
.features-row > img {
  margin-top: 1rem;

  width: 35%;
}
.features-row > h5 {
  margin-top: 3rem;
  font-weight: 800;
}
.features-row > p {
  margin-top: 1.2rem;
}

.features-second-container {
  border: #fff;
  margin-bottom: 6rem;
  width: 80%;
  line-height: 32px;
  border-radius: 14px;
  margin-left: 8rem;
  background-color: var(--white);
}

.features-second-row {
  padding-left: 2.75rem;
  padding-right: 2.75rem;
  padding-bottom: 2.75rem;
  width: 100%;
}
.features-second-row > img {
  margin-top: 1rem;

  width: 35%;
}
.features-second-row > h5 {
  margin-top: 3rem;
  font-weight: 800;
}
.features-second-row > p {
  margin-top: 1.2rem;
}

.order-status-title {
  padding-bottom: 20px;
  padding-top: 10px;
}

.green {
  color: var(--green);
}

/* ---- NAVBAR START ----*/ /*FIX ıts bs class dont overwrite bs classes*/
.navbar {
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 34px;
}
.navbar-logo {
  width: 12rem;
  margin-top: -0.7rem;
}

.navbar-collapse > ul > li > a {
  color: black;
  margin-left: 2.5rem;
}

/* ---- WORKFLOW START ----*/

.workflow-title > img {
  height: 3rem;
  margin-bottom: -12.8rem;
  margin-left: 11.5rem;
}

.workflow-container {
  padding-bottom: 4rem;
  padding-left: 1rem;
  margin-left: 1rem;
}

.workflow-container > .row > .col-sm > h5 {
  padding-left: 1rem;
  font-weight: 800;
}
.workflow-container > .row > .col-sm > p {
  margin-top: 1.5rem;
  padding-left: 1rem;
}
.workflow-container > .row > .col-sm > img {
  margin-top: 1.5rem;
  margin-bottom: -14rem;
}
.workflow-image > img {
  width: 80%;
  padding-left: 6rem;
}

/* ---- APPLICATION START ----*/

.application-title > img {
  height: 3rem;
  margin-bottom: -14rem;
  margin-left: 11.5rem;
}

.application-background {
  width: 100%;
  height: 65rem;
  background-color: var(--light-grey);
}

.application-container {
  padding-top: 4rem;
  margin-top: 1rem;
}

.application-container > .row > .application-content > p {
  margin-top: 1rem;
  padding-left: 2rem;
}
.application-container > .row > .application-content > h5 {
  margin-top: 1rem;
  padding-left: 2rem;
}

.application-content {
  margin-left: -7rem;
  margin-right: 110px;
}

.application-container > .row > .application-content > img {
  margin-bottom: -9rem;
  height: 5rem;
  margin-right: 15px;
}

.application-container > .row > .col-sm > h4 {
  color: var(--orange);
  font-weight: 800;
  margin-top: 1rem;
}
.application-container > .row > .col-sm > h5 {
  font-weight: 800;
}

.application-desktop {
  display: flex;
  height: 6rem;
}

.application-desktop > img {
  margin: 0.5rem;
  height: 75%;
}
.application-desktop > h4 {
  padding-left: 4rem;
  padding-top: 2rem;
  font-weight: 800;
}

.application-mobile {
  background-color: var(--white);
  border-radius: 8px;
  display: flex;
  height: 6rem;
}
.application-mobile > img {
  margin: 0.5rem;
  height: 75%;
}
.application-mobile > h4 {
  padding-left: 4rem;
  padding-top: 2rem;
  font-weight: 800;
}

.application-image > img {
  height: 84%;
}

/* ---- ORDER CARD START ----*/

.order-card {
  margin-top: 13rem;
  margin-left:6rem;
  margin-bottom:12rem;
  margin-right:6rem;
  padding: 2rem;
  max-width: 80%;
  background-color: var(--light-blue);
}
.order-card-container{
  height: 285px;
}
.quicki{
  max-width: 56%;
}
.quicki > img {
  margin-bottom: 1.4rem;
}
.quicki > p{
  margin-bottom: 1.6rem;

}

.quicki-left-image{
  position: absolute;
  width: 65%;
  right: -155px;
  bottom: -86px;
}

.quicki-left-image > img{
  width: 83%;
}
.order-card-container > .row {
  position:relative;
}

.order-card > .order-card-container > .row > .col-sm > p {
  font-weight: 500;
  font-size: 29px;
}
.order-card > .order-card-container > .row > .col-sm > button {
  background-color: var(--blue);
  border-color: var(--blue);
  color: var(--white);
  font-family: var(--font-family);
  width: 30%;
  height: 17%;
  border-radius: 6px;
}






/* ---- VOLUNTEER CARD  START ----*/
.volunteer-card-container {
  margin-left: 14rem;
  margin-bottom: 2rem;
  width: 80%;
}
.volunteer-card-container > .row > .col-sm > img {
  width: 100%;
}
.volunteer-card-container > .row > .col-sm > h4 {
  font-weight: 700;
}
.volunteer-card-container > .row > .col-sm > h5 {
  margin-top: 1rem;
  color: var(--blue);
  width: 70%;
}
.volunteer-card-container > .row > .col-sm > p {
  margin-top: 2rem;
  color: var(--medium-grey);
  width: 85%;
}

/* ---- SUBSCRIBE CARD  START ----*/

.subscribe-container {
  margin-left: 6rem;
  margin-top: 11rem;
  width: 84%;
  background-color: var(--blue);
  border-radius: 0.4rem;
  height: 240px;
}

.subscribe-container > .row > .col-sm > p {
  margin: 2rem;
  color: var(--white);
  font-size: 24px;
  line-height: 39px;
  font-weight: 600;
}

.subscribe-container > .row > .col-sm > input {
  margin-top: 4rem;
  width: 75%;
  height: 3rem;
  border-color: var(--blue);
  border:none;
  font-weight: 700;
}


.subscribe-container > .row > .col-sm > input:focus{
  border: 4px solid rgb(72, 84, 241) ;
}


.subscribe-container > .row > .col-sm > button {
  width: 4rem;
  height: 2.4rem;
  border: none;
  border-radius: 0.4rem;
  border-color: var(--green);
  background-color: var(--green);
  margin-left: -4.6rem;
}
.subscribe-container > .row > .col-sm > button > img {
  height: 1.2rem;
  background-color: var(--green);
}

/* ---- CONTACT US START ----*/


.contact-form{
  padding-top:5rem;
  width: 20%;
  max-width: 20%;
}



.contact-container {
  margin-left: 3rem;
}

.contact-container > .row >.col-sm {
  max-width: 45%;
}

.contact-container > .row > .col-sm > p {
  margin-bottom: 4rem;
  font-weight: 700;
  font-size: 25px;
}



.contact-container > .row > .col-sm > img {
  margin-left: 14rem;
}

.contact-detail {
  margin-top: 2rem;
  display: flex;

}

.contact-detail > a > p {
 color:black;
 font-weight: 600;
}



.contact-detail > img {
  width: 3rem;
}

.contact-header{
  display:flex;
  margin-top:4rem;
  margin-bottom:3rem;

}
.contact-header > img {
  display:flex;
  margin-top: 5rem;
  height:3rem;
}
.contact-header > p {
  margin-top:1.8rem;
}
.contact-header > h2 {
  margin-top:2.4rem;
  margin-left:2rem;
}

.contact-left-container{
  margin-left:4rem;
}

.contact-container > .row > .contact-form {
  max-width: 35%;
  margin-top: 5rem;
  margin-left: 5rem;
  font-weight: 600;
  font-size: large;
  border-radius: 1rem;
}

.contact-container > .row > .contact-form > input {
  margin-bottom: 1.5rem;
  width: 70%;
}

.contact-button > button {
  float: right;
  border: none;
  border-radius: 0.4rem;
  color: var(--white);
  width: 9rem;
  height: 3rem;
  background-color: var(--blue);
  font-weight: 400;
  margin-top:2rem;
}
.contact-button > button > img {
  width: 1.2rem;
  margin-left: 0.6rem;
}

/* ---- LOGIN BUTTON START ----*/

.login-button {
  background-color: var(--blue);
  color: var(--white);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  padding-left: 0.4rem;
  width: 8rem;
  margin-top: 0.2rem;
  margin-left: 1.5rem;
  padding-top: 0.2rem;
  border-radius: 5px;
  border-color: var(--blue);
}

.login-button > img {
  margin-right: 0.8rem;
}

/* ---- SEPERATORS START ----*/
.small-seperator {
  color: var(--grey);
  margin-top: 0.3rem;
  font-size: xx-large;
  font-weight: 300;
}

.medium-seperator {
  padding-top: -50px;
  font-weight: 500;
  font-size: 50px;
  color: var(--green);
  border-radius: 4px;
}


/* ---- TEXTBOX START ----*/

/* ---- FOOTER START ----*/

.footer-seperator > img {
  width: 100%;
}

.social-link {
  position: relative;
  display: inline-block;
}

.hover-blue {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
.social-link:hover .hover-blue{
  display:inline;
}

.footer-container {
  padding-top: 1.2rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.footer-container > .row > .col-sm > img {
  padding-left: 6rem;
}

.footer-container > .row > .social-links > a > img {
  padding-left: 2rem;
}

.footer-container > .row > .col-sm > p {
  padding-top: 1rem;
  padding-left: 6rem;
  font-weight: 700;
}



.border-left-green{
  border-left: 6px #53b453 solid;
}